<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        Waiting list
      </div>
      <div class="col-md-4">
        In progress
      </div>
      <div class="col-md-4">
        Done
      </div>
    </div>
  </div>

  <div class="container-fluid tasks">
    <ul class="list-group">
      <li class="list-group-item">
         Task "One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin." assigned to @Petya
      </li>
      <li class="list-group-item">
        Task "He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections." assigned to @Vasya
      </li>
      <li class="list-group-item">
        Task "The bedding was hardly able to cover it and seemed ready to slide off any moment." assigned to @Katya
      </li>
    </ul>
  </div>

  <div class="container users">
    <div class="row">
      <div class="col-md-6">
        Users:
      </div>
      <div class="col-md-6">
        Admins:
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
       <ul class="list-group text-center">
         <li class="list-group-item"> Bill</li>
         <li class="list-group-item"> Josh</li>
         <li class="list-group-item"> Bill</li>
         <li class="list-group-item"> Josh</li>
       </ul>
      </div>
      <div class="col-md-6">
        <ul class="list-group text-center">
          <li class="list-group-item"> Bill</li>
          <li class="list-group-item"> Josh</li>
          <li class="list-group-item"> Bill</li>
          <li class="list-group-item"> Josh</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--Just to be able to scroll as to check if navbar is fixed-->
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<h1>.</h1>
